

.city-name {
    font-size: 30px;
}

.forecast-date {
    font-size: 18px;
}

#forecast {
    position: absolute;
    left: -4%;
}

h1 {
    margin-bottom: 0%;
    background-image: linear-gradient(to right, rgb(112, 17, 175), rgb(193, 33, 207));
}